<html>

<head>
    <meta charset="utf-8" />
    <title>retouch</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
        .revise-container {
            margin-top: 5%;
        }

        .user-image {
            width: 50px;
            cursor: pointer;
        }

        .button {
            background-color: transparent;
            border: none;
            padding: 10px 20px;
            margin: 0 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .button:hover {
            background-color: orange;
            color: white;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .button-container2 {
            text-align: center;
            margin-top: 70px;
            margin-left: 200px;
            font-size: 30px;
        }

        hr.custom {
            border: none;
            height: 2px;
            background-color: black;
            width: 85%;
            margin: 0 auto;
        }

        hr.custom2 {
            border: none;
            height: 2px;
            background-color: black;
            width: 48%;
            margin: 0 auto;
        }

        .user-menu {
            position: absolute;
            top: calc(100% + 5px);
            right: 10px;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            display: none;
        }

        .user-menu-item {
            margin-bottom: 5px;
        }

        .user-image-container {
            margin-top: 50px;
            margin-left: 600px;
        }

        .story_image {
            margin-left: 200px;
            width: 700px;
            height: 500px;
        }

        .find_box {
            width: 100vh;
            height: 100vh;
            border: 3px solid darkgray;
            background-color: white;
            margin-top: 30px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            padding-top: 100px;
        }

        .input_box {
            width: 100%;
            height: 20px;
            margin-top: 0px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 50px;
        }

        .input_container {
            display: flex;
            align-items: center;
        }

        .input_container input {
            width: 500px;
            height: 50px;
            border: 3px solid darkgray;
            background-color: white;
            box-sizing: border-box;
            padding: 0 10px;
            font-size: 16px;
        }

        .user-icon,
        .password-icon,
        .id-icon {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .user-img {
            width: 100px;
            height: 100px;
            margin-right: 10px;
            margin-top: 0px;
        }
    </style>
</head>

<body>
    <div class="header">
        <img src="/images/logo.png" alt="로고" class="logo" onclick="gotoMainPage()" />
        <div class="button-container">
            <button class="button" onclick="gotoStory()">
                여행 스토리
            </button>
            <button class="button" onclick="gototour()">여행지 추천</button>
            <button class="button" onclick="gotofestival()">축제</button>
            <button class="button" onclick="gotocourse()">
                관광지 정보
            </button>
            <button class="button" onclick="toggleMyPageOptions()">
                마이페이지
            </button>
        </div>
        <img src="/images/user.png" alt="사용자" class="user-image" onclick="toggleUserMenu()" />
        <div class="user-menu" id="userMenu">
            <div class="user-menu-item">
                <button class="button" onclick="register()">
                    회원가입
                </button>
            </div>
            <div class="user-menu-item">
                <button class="button" onclick="login()">로그인</button>
            </div>
            <div class="user-menu-item">
                <button class="button" onclick="logout()">로그아웃</button>
            </div>
        </div>


    </div>
    <div id="myPageOptions">
        <button class="button" onclick="createTravel()">여행 만들기</button>
        <button class="button" onclick="gotodiary()">일기</button>
        <button class="button" onclick="gotowishlist()">관심 리스트</button>
        <button class="button" onclick="gotoretouch()">
            사용자 정보 수정
        </button>
    </div>
    <hr class="custom">
    <div class="revise-container">
        <div class="input_box">
            <img id="imagePreview" src="../svg/circle_user.svg" alt="이미지 미리보기" class="user-img" />
            <button onclick="document.getElementById('imageUpload').click();">
                사진 업로드
            </button>
        </div>
        <form action="/retouch/<%=session.user_id%>" method="post" enctype="multipart/form-data">

            <input type="file" name="profileImage" id="imageUpload" accept="image/*" style="display: none" />

            <br /><br />
            <div class="input_box">
                <img src="../svg/user.svg" alt="userSVG" class="user-icon" name="username" />
                <div class="input_container">
                    <input type="text" size="20" placeholder="이름" name="username" />
                </div>
            </div>

            <div class="input_box">
                <img src="../svg/lock.svg" alt="lockSVG" class="user-icon" />
                <div class="input_container">
                    <input type="password" size="20" placeholder="비밀번호" name="password" />
                </div>
            </div>
            <div class="input_box">
                <img src="../svg/lock.svg" alt="lockSVG" class="user-icon" />
                <div class="input_container">
                    <input type="password" size="20" placeholder="비밀번호 확인" name="passwordConfirm" />
                </div>
            </div>
            <div class="input_box">
                <img src="../svg/mail.svg" alt="mailSVG" class="user-icon" />
                <div class="input_container">
                    <input type="email" size="20" placeholder="이메일 주소" name="email" />
                </div>
            </div>

            <div class="input_box">
                <input type="submit" value="수정" style="
                            margin-top: 30px;
                            width: 500px;
                            height: 50px;
                            background-color: white;
                            border: 3px solid darkgray;
                            padding: 10px 20px;
                            font-size: 16px;
                            cursor: pointer;
                        " />
            </div>
        </form>
    </div>


    <script>
        function register() {
            alert("회원가입 페이지로 이동합니다.");
            window.location.href = "/signup";
        }

        function login() {
            alert("로그인 페이지로 이동합니다.");
            window.location.href = "/login";
        }

        function logout() {
            alert("로그아웃합니다.");
        }

        function gotoMainPage() {
            window.location.href = "/";
        }

        function goBack() {
            window.history.back();
        }
        function gotoStory() {
            window.location.href = "/";
        }
        function gototour() {
            window.location.href = "/tour";
        }
        function gotocourse() {
            window.location.href = "/course";
        }
        function gotofestival() {
            window.location.href = "/festival";
        }
        function gotodiary() {
            window.location.href = "/diary-list";
        }

        function gotowishlist() {
            window.location.href = "/wishlist";
        }

        function gotoretouch() {
            window.location.href = "/retouch/<%=session.user_id%>";
        }
        function toggleMyPageOptions() {
            var myPageOptions = document.getElementById("myPageOptions");
            if (myPageOptions.style.display === "block") {
                myPageOptions.style.display = "none";
            } else {
                myPageOptions.style.display = "block";
            }
        }
        function toggleUserMenu() {
            var userMenu = document.getElementById("userMenu");
            if (userMenu.style.display === "block") {
                userMenu.style.display = "none";
            } else {
                userMenu.style.display = "block";
            }
        }

        document
            .getElementById("imageUpload")
            .addEventListener("change", function (event) {
                var file = event.target.files[0];
                if (file && file.type.startsWith("image/")) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById("imagePreview").src =
                            e.target.result;
                    };
                    reader.readAsDataURL(file);
                } else {
                    alert("이미지 파일을 선택해주세요.");
                }
            });
    </script>
</body>

</html>